*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 14px/1.5 "Open Sans", sans-serif;
  color: rgba(0,0,0,0.6);
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
a {
  font-size: 0.9em;
  text-decoration: none;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.15em;
  line-height: 1.4;
  margin: 1.5em 0 0 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
p {
  font-size: 1.2em;
}
img {
  max-width: 100%;
}
.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  margin: 1.5em auto;
  padding: 15px 25px;
  border-radius: 3px;
  background: #dc143c;
  color: #fff;
}
.big-text {
  margin: 1.8em 0 0 0;
  font-size: 3.5em;
  color: #fff;
}
.medium-text {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  color: #fff;
}
/* Header */
#header {
  height: 100vh;
  padding: 0 2.5%;
  text-align: center;
  background: url("../img/banner.jpg");
  background-size: cover;
}
#header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 15px;
  border-bottom: 1px solid rgba(211,211,211,0.3);
}
#header nav .logo {
  width: 189px;
  height: 25px;
  text-indent: -9999px;
  background: url("../img/logo.png") no-repeat;
}
#header nav .mobile-nav {
  width: 50px;
  height: 50px;
  text-align: center;
  background: #dc143c;
  color: #fff;
  border-radius: 50%;
}
#header nav .mobile-nav .fa {
  font-size: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#header nav ul {
  display: none;
}
#header nav .navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
}
#header nav .navigation li {
  margin: 10px;
}
#header nav .navigation li a {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
}
#header nav .navigation li a:hover {
  color: #dc143c;
}
#header h2 {
  color: #fff;
}
#header p {
  font-weight: 100;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
/* Features Section */
#features {
  padding: 75px 0;
}
#features .feature {
  margin: 0 0 2.2em 0;
  text-align: center;
}
#features .feature .fa {
  color: #dc143c;
}
#features .feature h3,
#features .feature p {
  margin: 0 0 0.25em;
}
#features .feature h3 {
  margin-top: 0.5em;
}
/* Works Section */
.work {
  position: relative;
  margin: 0;
  height: 350px;
  overflow: hidden;
}
.work img {
  min-height: 350px;
  transition: 0.7s all ease-in;
}
.work .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(220,20,60,0.6);
  transition: 0.7s all ease-in;
}
.work .overlay-caption {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.work .overlay-caption h4,
.work .overlay-caption h5 {
  color: #fff;
  margin: 0;
  font-weight: 100;
}
.work:hover .overlay {
  opacity: 1;
}
.work:hover img {
  transform: scale(1.4);
}
/* Team Section */
#our-team {
  padding: 75px 0;
}
#our-team .member {
  text-align: center;
}
#our-team .member h3 {
  margin: 0;
  color: #dc143c;
}
#our-team .member .social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
#our-team .member .social-links li {
  margin: 0 5px;
}
#our-team .member .social-links li a {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  font-size: 2em;
  border: 1px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  transition: 0.7s all ease-in;
}
#our-team .member .social-links li a:hover {
  border: 1px solid #dc143c;
  background: #dc143c;
  color: #fff;
}
